{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Biblios</h1>
            <p class="lead">Catalogue en ligne de la médiathèque de Trifouillis-les-Oies</p>
            <a class="btn btn-lg btn-light" href="{{ path('app_book_index') }}">Parcourez le catalogue</a>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Biblios: qu'est-ce que c'est?</h2>
                    <p class="lead">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.</p>
                    <p>Fonctionnalités clés :</p>
                    <ul>
                        <li>Recherche avancée de livres</li>
                        <li>Consultation en temps réel du statut des ouvrages (disponible, emprunté, indisponible)</li>
                        <li>Affichage détaillé des informations sur les livres</li>
                        <li>Processus de réservation simplifié</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
