{% extends 'base.html.twig' %}

{% block title 'Ce site est en maintenance' %}

{% block body %}
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Ce site est en maintenance</h2>
                    <p>Veuillez revenir plus tard.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
