{% extends 'base.html.twig' %}

{% block title %}Liste d'auteurs{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Liste d'auteur</h1>

    <ul class="list-group list-group-flush">
        {% for author in authors %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <a href="{{ path('app_admin_author_show', {id: author.id}) }}" class="stretched-link link-dark">
                            <h4 class="mb-1">{{ author.name }}</h4>
                        </a>
                        <small class="text-muted">Identifiant : {{ author.id }}</small>
                    </div>
                </div>
            </div>
        {% else %}
            <li>Aucun enregistrement en base de données.</li>
        {% endfor %}
    </ul>
    {{ pagerfanta(authors) }}
</section>
{% endblock %}
