{% extends 'base.html.twig' %}

{% block title %}Hello EditorController!{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/benjamin/Dev/OC_Sf7_course_Biblios_Sources/Part2_Chap2/biblios/src/Controller/Admin/EditorController.php</code></li>
        <li>Your template at <code>/home/benjamin/Dev/OC_Sf7_course_Biblios_Sources/Part2_Chap2/biblios/templates/admin/editor/index.html.twig</code></li>
    </ul>
</section>
{% endblock %}
